{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <!-- Recorrer las tareas -->
        {% for task in tasks %}
        <!-- mostrar titulo compelted o pending -->
        {% if task.datecompleted %}
        <h1 class="text-center mt-4 display-3 py-5">Task completed</h1>
        {% else %}
        <h1 class="text-center mt-4 display-3 py-5">Task Pending</h1>
        {% endif %}
        <ul class="list-group">
        <!-- Utiliza el nombre de la url -->
        <a  class="list-group-item" href="{% url 'task_detail' task.id %}">
            <header class="d-flex justify-content-between">
        {% if task.important %}
        <h4 class="fw-bold text-success" >{{task.title}}</h4> 
        {% else %}
            <h4 class="fw-bold text-danger">{{task.title}}</h4>
        {% endif %}
        <h4> {{task.user.username}} </h4>
        </header>
        {{task.description}}
        <br>
        {{task.datecompleted|date:'M j Y:i'}}
        </a>
        </ul>    
        {% endfor %}
        </div>
    </div>
</main>
{% endblock %}

